@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");


.h1_css {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: "Montserrat Medium";
    max-width: 40ch;
    text-align: center;
    color: white;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

span:nth-child(1) {
    animation: fade-in 2s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(2) {
    animation: fade-in 2s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(3) {
    animation: fade-in 2s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(4) {
    animation: fade-in 2s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(5) {
    animation: fade-in 2s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(6) {
    animation: fade-in 2s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(7) {
    animation: fade-in 2s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(8) {
    animation: fade-in 2s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(9) {
    animation: fade-in 2s 1.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(10) {
    animation: fade-in 2s 1.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(11) {
    animation: fade-in 2s 1.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(12) {
    animation: fade-in 2s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(13) {
    animation: fade-in 2s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(14) {
    animation: fade-in 2s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(15) {
    animation: fade-in 2s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(16) {
    animation: fade-in 2s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(17) {
    animation: fade-in 2s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

span:nth-child(18) {
    animation: fade-in 2s 3.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0);
    }
}

.video{
    border: 1px solid salmon;
    margin-top: 30px;
}

iframe{
    margin-top: 500px;
}




/* Home button*/

.buttons {
    margin-top: 10px;
    text-align: center;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.btn-hover.color-10 {
        background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}